﻿@model PrestameApp.Models.Empresas

@{
    ViewBag.Title = "Crear Empresas";
}

<h2>Crear Empresas</h2>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm("CrearEmpresas", "Home", FormMethod.Post))
            {

                @Html.AntiForgeryToken()


                <div class="row">
                    <div class="col-md-12">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    </div>
                </div>


                <div class="form-group">

                    @Html.DisplayNameFor(Model => Model.nit)
                    @Html.TextBoxFor(Model => Model.nit, new { @class = "form-control", @placeholder = "Ejm: 9852324-6" })
                    @Html.ValidationMessageFor(Model => Model.nit, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">

                    @Html.DisplayNameFor(Model => Model.razonSocial)
                    @Html.TextBoxFor(Model => Model.razonSocial, new { @class = "form-control", @placeholder = "Ejm: Colanta" })
                    @Html.ValidationMessageFor(Model => Model.razonSocial, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">

                    @Html.DisplayNameFor(Model => Model.telefono)
                    @Html.TextBoxFor(Model => Model.telefono, new { @class = "form-control", @placeholder = "Ejm: 5889963" })
                    @Html.ValidationMessageFor(Model => Model.telefono, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">

                    @Html.DisplayNameFor(Model => Model.nombreResponsable)
                    @Html.TextBoxFor(Model => Model.nombreResponsable, new { @class = "form-control", @placeholder = "Ejm: Yhoan Galeano" })
                    @Html.ValidationMessageFor(Model => Model.nombreResponsable, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">

                    @Html.DisplayNameFor(Model => Model.Usuarios.usuario)
                    @Html.TextBoxFor(Model => Model.Usuarios.usuario, new { @class = "form-control", @placeholder = "Ejm: Caldas" })
                    @Html.ValidationMessageFor(Model => Model.Usuarios.usuario, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">

                    @Html.DisplayNameFor(Model => Model.Usuarios.email)
                    @Html.TextBoxFor(Model => Model.Usuarios.email, new { @class = "form-control", @placeholder = "Ejm: caldas@colanta.com" })
                    @Html.ValidationMessageFor(Model => Model.Usuarios.email, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">

                    @Html.DisplayNameFor(Model => Model.Usuarios.contrasenia)
                    @Html.PasswordFor(Model => Model.Usuarios.contrasenia, new { @class = "form-control", @placeholder = "Ejm: 123" })
                    @Html.ValidationMessageFor(Model => Model.Usuarios.contrasenia, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">

                    @Html.DisplayNameFor(Model => Model.Usuarios.idRol)
                    @Html.TextBoxFor(Model => Model.Usuarios.idRol, new { @class = "form-control", @placeholder = "Ejm: 1" })
                    @Html.ValidationMessageFor(Model => Model.Usuarios.idRol, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">

                    <input type="submit" value="Guardar" class="btn btn-success" />

                </div>
            }
        </div>
    </div>

</div>

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

}