﻿@{
    ViewBag.Title = "Ejemplo desde cero";
}

<div class="row">

    <div class="col-md-12">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Usuario</th>
                </tr>
            </thead>

            <tbody>

                @{
                    foreach (var usuario in ViewBag.listaUsuarios)
                    {
            <tr>
                <td>
                    @usuario.email
                </td>
                <td>
                    @usuario.usuario
                </td>
            </tr>
                }
                }

            </tbody>
        </table>
    </div>

</div>