﻿@model PrestameApp.Models.Usuarios


@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="wrapper-page animated fadeInDown">
    <div class="panel panel-color panel-primary">
        <div class="panel-heading">
            <h3 class="text-center m-t-10"> Iniciar sesión en <strong>PrestameApp</strong> </h3>
        </div>

        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal m-t-40" }))
        {

            @Html.AntiForgeryToken()


            <div class="row">
                <div class="col-md-12">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                </div>
            </div>


            <div class="form-group ">
                <div class="col-xs-12">
                    @Html.TextBoxFor(model => model.usuario, new { @class= "form-control", @placeholder = "Usuario" })
                    @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group ">

                <div class="col-xs-12">

                    @Html.PasswordFor(model => model.contrasenia, new { @class = "form-control", @placeholder = "Contraseña" })
                    @Html.ValidationMessageFor(model => model.contrasenia, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group ">
                <div class="col-xs-12">
                    <div class="checkbox">

                        @Html.DisplayNameFor(model => model.recordarme)
                        @Html.CheckBoxFor(model => model.recordarme)
                       
                    </div>
                </div>
            </div>

            <div class="form-group text-right">
                <div class="col-xs-12">
                    <button class="btn btn-purple w-md" type="submit">Iniciar</button>
                </div>
            </div>
            <div class="form-group m-t-30">
                <div class="col-sm-7">
                    @Html.ActionLink("Olvidaste la contraseña?", "RecuperarContrasenia")
                </div>
                <div class="col-sm-5 text-right">
                    <a href="register.html">Crear una cuenta</a>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

}