﻿@model PrestameApp.Models.Usuarios

@{
    ViewBag.Title = "Perfil";
}



<div class="wraper container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <div id="edit-profile">
                <div class="user-profile-content">
                    @using (Html.BeginForm("Perfil", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.HiddenFor(model => model.idUsuario)

                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.usuario)
                            @Html.TextBoxFor(model => model.usuario, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(model => model.email)
                            @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                           
                            <img src="@Model.urlImagen" alt="@Model.usuario" class="img-custom img-rounded" />
                            @*<input type="file" class="form-control" id="imagen" name="imagen" />*@

                            @Html.TextBoxFor(model => model.imagen, new { @class = "form-control", @type="file"})

                        </div>
                        
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>