﻿@model PrestameApp.Models.Usuarios


@{
    ViewBag.Title = "Recuperar Contraseña";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="wrapper-page animated fadeInDown">
    <div class="panel panel-color panel-primary">

        @using (Html.BeginForm("RecuperarContrasenia", "Home", FormMethod.Post, new { @class = "text-center" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                
            </div>

            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                Ingrese el <b>usuario</b> y siga las instrucciones que seran enviadas al correo registrado!
            </div>
            <div class="form-group m-b-0">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.usuario, new { @class = "form-control", @placeholder = "Ingrese el usuario" })
                    @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                    <span class="input-group-btn"> <button type="submit" class="btn btn-primary">Recuperar contraseña</button> </span>
                </div>
            </div>
        }

    </div>
</div>