﻿@model IEnumerable<PrestameApp.Models.Empresas>

@{
    ViewBag.Title = "Lista de empresas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear nueva empresa", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.razonSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreResponsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuarios.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.razonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreResponsable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.idEmpresa }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.idEmpresa }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.idEmpresa })
                </td>
            </tr>
        }
    </tbody>
    
</table>
